# Environment variables
PORT=3000

# SMTP Email Configuration (e.g., Gmail, Resend, SendGrid, Amazon SES, or custom SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
CONTACT_RECEIVER_EMAIL=moosshibi@gmail.com
CONTACT_SENDER_EMAIL=
